{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Registrar Sede</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Nombre</label>
            <input type="text"  name="nombre" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Ciudad</label>
            <select name="id_ciudad" class="form-control">
                <option value="">Selecciona una ciudad</option>
                {% for ciudad in ciudades %}
                    <option value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Gerente</label>
            <input type="text"  name="gerente" class="form-control" required>
        </div>
        <div class="form-group">
            <label>direccion</label>
            <input type="text"  name="direccion" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Telefono</label>
            <input type="text"  name="telefono" class="form-control" required>
        </div>
       
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}
