{% extends "home/base.html" %}
{% load i18n %}
{% load i18n %}
{% block content %}
<div class="container mt-3">
    <h2>{% trans "Detalles de la Sede" %}</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ sede.nombre }}</h5>
            <p class="card-text"><strong>{% trans "Ciudad" %}:</strong> {{ sede.ciudad_id.nombre }}</p>
            <p class="card-text"><strong>{% trans "Gerente" %}:</strong> {{ sede.gerente }}</p>
            <p class="card-text"><strong>{% trans "Dirección" %}:</strong> {{ sede.direccion }}</p>
            <p class="card-text"><strong>{% trans "Número de teléfono" %}:</strong> {{ sede.telefono }}</p>
            <a href="{% url 'sede_update' sede.id%}" class="btn btn-primary">{% trans "Editar" %}</a>
            <a href="{% url 'sede_delete' sede.id%}" class="btn btn-danger">{% trans "Borrar" %}</a>
            <a href="{% url 'sede_list' %}" class="btn btn-secondary">{% trans "Volver a la lista" %}</a>
        </div>
    </div>
</div>
{% endblock %}
