{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de Autos</h2>
    <a href="{% url 'sede_create' %}" class="btn btn-primary mb-3">Registrar Sede</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>ciudad</th>
                <th>Dirección</th>
                <th>telefono</th>
            </tr>
        </thead>
        <tbody>
            {% for sede in sedes %}
            <tr>
                <td>{{ sede.nombre }}</td>
                <td>{{ sede.ciudad_id.nombre }}</td>       
                <td>{{ sede.direccion }}</td>
                <td>{{ sede.telefono }}</td>
                <td>
                    <a href="{% url 'sede_detail' sede.id%}" class="btn btn-info btn-sm">Detalles</a>
                    <a href="{% url 'sede_update' sede.id%}" class="btn btn-success btn-sm">Editar</a>
                    <a href="{% url 'sede_delete' sede.id%}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
