{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Detalles del Proveedor</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ proveedor.nombre }}</h5>
            <p class="card-text">{{ proveedor.nombre }}</p>
            <p class="card-text"><strong>Dirección:</strong> {{ proveedor.direccion }}</p>
            <p class="card-text"><strong>Teléfono:</strong> {{ proveedor.telefono }}</p>
            <p class="card-text"><strong>Stock:</strong> {{ product.stock }}</p>
            <a href="{% url 'product_update' product.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'product_delete' product.id %}" class="btn btn-danger">Borrar</a>
            <a href="{% url 'product_list' %}" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
</div>
{% endblock %}
