{% extends "home/base.html" %}
{% load i18n %}
{% block content %}
<div class="container mt-3">
    <h2>{% trans "Detalles del Proveedor" %}</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ proveedor.nombre }}</h5>
            <p class="card-text">{{ proveedor.nombre }}</p>
            <p class="card-text"><strong>{% trans "Dirección" %}:</strong> {{ proveedor.direccion }}</p>
            <p class="card-text"><strong>{% trans "Teléfono" %}:</strong> {{ proveedor.telefono }}</p>
            <p class="card-text"><strong>{% trans "Stock" %}:</strong> {{ product.stock }}</p>
            <a href="{% url 'product_update' product.id %}" class="btn btn-primary">{% trans "Editar" %}</a>
            <a href="{% url 'product_delete' product.id %}" class="btn btn-danger">{% trans "Borrar" %}</a>
            <a href="{% url 'product_list' %}" class="btn btn-secondary">{% trans "Volver a la lista" %}</a>
        </div>
    </div>
</div>
{% endblock %}
