{% extends 'home/base.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-3">
    <h2>{% trans "Lista de Proveedores" %}</h2>
    <a href="{% url 'proveedor_create' %}" class="btn btn-primary mb-3">{% trans "Crear Proveedor" %}</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Nombre" %}</th>
                <th>{% trans "Direccion" %}</th>
                <th>{% trans "Telefono" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.direccion }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>
                        <a href="{% url 'proveedor_detail' proveedor.id %}" class="btn btn-info btn-sm">{% trans "Detalles" %}</a>
                        <a href="{% url 'proveedor_update' proveedor.id %}" class="btn btn-success btn-sm">{% trans "Editar" %}</a>
                        <a href="{% url 'proveedor_delete' proveedor.id %}" class="btn btn-danger btn-sm">{% trans "Eliminar" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
